/*
  Developer Name: Anthony Bojkovski
  Purpose: Introduction to CSS Lab 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.centerText {
  text-align: center;
}

.divBox {
  width: 50%;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.customBorderBase {
  border-width: 3px;
  border-radius: 10px;
  color: white;
}

.customBorder1 {
  border-style: solid;
  border-color: #bf4a40;
  background-color: #38943e;
}

.customBorder2 {
  border-style: dotted;
  border-color: #bf9440;
  background-color: #674679;
}

.customBorder3 {
  border-style: double;
  border-color: #4240bf;
  background-color: #e0760b;
}
